[defaults]
# Chemin vers le fichier d'inventaire par défaut
inventory = inventory/hosts
# Désactiver la vérification des clés SSH (environnement lab uniquement)
host_key_checking = False
# Utilisateur distant par défaut
remote_user = ansadmin
